.checklist_card {
  position: sticky;
  top: 100px;
  padding: 20px 30px;
  background: white;
  border-radius: 10px;
  .label {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #9b9b9b;
    text-align: center;
  }
  input[type='checkbox'] {
    width: 30px;
    height: 30px;
    box-shadow: none;
  }
}
