@import '../../assets/css/main';

#message-container {
  .modal-header {
    padding: 1rem 2rem;
  }
  .modal-body {
    padding: 0rem 2rem; //change the padding as you want
  }
  .modal-footer {
    padding: 1rem 2rem; //change the padding as you want
  }
  .modal-body {
    flex-direction: column;
  }
  .input {
    box-shadow: none;
    margin-left: 0;
  }
  .send-button {
    width: 100px;
    margin-inline: 0rem;
  }
  .error-message-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
  }
  .error-message {
    font-size: 12px;
    color: red;
  }
}
