@import '../../assets/css/main';

#proof-remittance-modal-container {
  .modal-content {
    border-radius: 20px;
  }
  .modal-button {
    width: 82px;
    background-color: #0156d6;
  }
  .modal-header {
    border-width: 0;
  }
  .text-area {
    border-width: 1;
    border-color: #000;
    height: 96px;
    border-radius: 0px;
    margin-top: 5px;
  }
  .modal-footer {
    display: flex;
    border-width: 0px;
    justify-content: flex-end;
  }
}
