.source_of_wealth_card {
  padding: 20px 30px;
  background: white;
  border-radius: 10px;
  margin-bottom: 51px;
  .label {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .value {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
}
