.portfolio_detail {
  padding: 20px 30px;
  background: white;
  border-radius: 10px;
  margin-bottom: 50px;
  .label {
    font-family: 'Mulish';
    font-size: 9px;
    font-weight: 400;
    color: #232323;
  }
  .value {
    font-family: 'Ubuntu';
    font-size: 15px;
    font-weight: 900;
    color: #232323;
  }
}
